body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0d0d0e, #01112d);
    color: #050101;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(234, 4, 4, 0.5);
    animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

nav h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: #e82b2b;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    animation: bounceIn 1.5s ease;
}

@keyframes bounceIn {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

nav ul li a:hover {
    color: #ff5722;
}

section {
    margin: 100px auto;
    padding: 20px;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, brown, orange);
    animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

footer {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    animation: slideUp 1s ease-in-out;
}

@keyframes slideUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

a {
    color: #070600;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

a:hover {
    color: #551603;
    transform: scale(1.1);
}

#contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: zoomIn 1.5s ease-in-out;
}

@keyframes zoomIn {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
h2{
    text-align: center;
}
